
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font fmly
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Manrope', sans-serif;



*/

*{

    margin: 0;
    padding: 0;
}


header{

    font-family: 'Poppins', sans-serif;
    width: 85%;
    margin: auto;
}

nav{

    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    color: #3A3A3A;
    align-items: center;
  
  }
  nav > ul{
  
    display: flex;
    align-items: center;
    margin-top:10px;
  
  
  }
  nav > ul li{
    list-style: none;
 padding-left: 30px;
  
  }
  nav > ul li a{
  
    text-decoration: none;

    color: #3A3A3A;

    
  
  }

  /* banner */
.banner{


    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-right img{
max-width: 100%;
 
}
  .banner-btn {
    color: white;
    background-color: #E02C6D;
    border: none;
    padding: 11px 41px;
    border-radius: 45px;
    margin-top: 20px;
  }
  .banner-right{

    background-image: url('./images/circle.svg');
    padding: 20px;
    background-repeat: no-repeat;
    background-size: contain;

  }

  main{
    width: 85%;
    margin: auto;

  }

  .sponser{

    display: flex;
    gap: 30px;
    justify-content: space-around;
    margin-top: 40px;
    align-items: center;
 
  }
.collection{

    margin-top: 50px;
}
  .collection h1{
text-align: center;
font-family: 'Poppins', sans-serif;

  }

  .card{
margin-top: 40px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,1fr);
  }
.card-img img{
   width: 100%;
}
  .card-item{

padding: 10px 10px 15px 10px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);

  }

  .card-item h2{

    
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding-top: 10px;

  }
  .card-item h3{font-family: 'Inter', sans-serif;
font-weight: 400;
padding-top: 8px;
}
  .card-item p{
    
    font-family: 'Inter', sans-serif;
    color:  #787885;

    font-size: 14px;
 
    font-weight: 700;
    line-height: 143%; 
    letter-spacing: 0.252px;
    padding-top: 10px;
}



/* feture section */


.feture{


    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
}

.feture-btn{

    color: white;
    background-color: #E02C6D;
    border: none;
    padding: 11px 41px;

    margin-top: 20px;

}

.feture-right{

    font-family: 'Poppins', sans-serif; 
    
}
.feture-right p
{color: #6C6C6C;

    font-family: Poppins;

    font-weight: 700;
    line-height: 28px; }

/* footer */

footer{

    text-align: center;
    background-color: #0A0826;
    color: white;
    margin-top: 30px;
    padding: 50px 0;
    line-height: 2rem;
}
footer h1{

    font-family: 'Poppins', sans-serif;

}
footer p{

    font-family: 'Manrope', sans-serif;


    color:  #D9DBE1;

margin-top: 6px;
    font-size: 14px;

    font-weight: 700;
    line-height: 24px; 

}
footer .icon{

    margin-top: 6px;
}
footer .icon i{
padding: 0 20px;
    
}
  /* respoonsivfe */


  @media screen and (max-width:590px){
    
header{

width: 90%;
 margin: auto;
}
    nav{

        flex-direction: column;
        align-items: center;
    }

    nav > ul{

        flex-direction: column;
        margin-top: 20px auto;
    }
    nav > ul li{
padding-left: 0;
    }

    nav h1{


    }

    .banner{
        flex-direction: column-reverse;
        text-align: center;
    }

    .sponser{

        flex-direction: column-reverse;
    }

    .card{

        grid-template-columns: 1fr;
      
    }

    .feture-left img{
        max-width: 100%;
        }

        .feture{

            flex-direction: column-reverse;
            text-align: center;
        }

  
  }


  @media screen and (min-width:591px) and (max-width:900px){

    nav{

        flex-direction: column;
        align-items: center;
    }

    .card{
       
            grid-template-columns: repeat(2,1fr);
          }
.card-item-last{


    grid-column: 1/span 2;
}

.feture, .sponser{

    flex-direction: column-reverse;
    text-align: center;
}
.feture-left img{
    max-width: 100%;
    }
  }

  
  
